{% extends 'layouts/base.html' %}

{% block title %} Productos {% endblock title %}

{% block content %}

{% include 'includes/navigation.html' %}

<div class="pt-12"></div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Añadir productos</h2>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    
                </div>
                <div class="col-lg-6 col-md-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    
                </div>
                <div class="col-lg-6 col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

  {% include 'includes/footer.html' %} 

  {% endblock content %}