{% extends 'layouts/base.html' %}

{% block title %} Inicio {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <h1>Inicio</h1>
  <!-- <img src="{{ ASSETS_ROOT }}/img/logos/bekis-logo.jpeg" alt=""> -->
  {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.username }}</p>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
  {% else %}
    <a href="{% url 'login' %}">Iniciar sesión</a>
    <a href="{% url 'register' %}">Registrarse</a>
  {% endif %}
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}